// MainHeader (메인 헤더)
.mainHeader {
  & > nav {
    & > ul {
      display: flex;
      align-items: center;

      & > li {
        flex: 1;

        & > a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          font-weight: 500;

          &:hover {
            color: dodgerblue;
          }
        }
      }
    }
  }
}
